/*
===================
Grey Matter CSS Styles
===================
*/

/* ===== NORMAL DESIGN ===== */
@media (min-width: 720px) {
	/* ===== COLUMN ===== */
	#column {
		float: right;
		width: 20%;
		font-size: 80% !important;
		font-size: 75%;
		height:1%;
		margin-bottom: 5px;
	}

	#column h4 {
		/* Titles of the sections */
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		padding: 0 0 10px 50px;
		margin-left: -50px;
		display: inline-block;
		border-bottom: 1px solid #c00;
	}
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 719px) {
	/* ===== COLUMN ===== */
	#column {
		text-align:center;
		float: center;
		width: 100%;
		font-size: 90%;
		height:1%;
		margin-bottom: 5px;
	}

	#column h4 {
		/* Titles of the sections */
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		padding: 0 0 10px 0;
		display: inline-block;
		border-bottom: 1px solid #c00;
	}
}

/* ===== INTERNET EXPLORER ===== */
@media \0screen\,screen\9{
	/* ===== COLUMN ===== */
	#column {
		float: right;
		width: 20%;
		font-size: 80% !important;
		font-size: 75%;
		height:1%;
		margin-bottom: 5px;
	}

	#column h4 {
		/* Titles of the sections */
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		padding: 0 0 10px 50px;
		margin-left: -50px;
		display: inline-block;
		border-bottom: 1px solid #c00;
	}
}

#column p, #column div { margin: 10px 5px }

#column a:link {
	color: #fc0;
	text-decoration: none;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

#column a:visited { color: #fc0 }

#column a:hover{
	color: #f90;
	text-decoration: none
}

/* === List === */
#column ul li table { font-size: 100% }

#column ul {
	list-style-type: none;
	margin-bottom: .5em;
}

#column fieldset { margin: 0 5px 0 5px }

#column legend { font-size: 100% }
